<!-- 样式列表 -->
<div class="layout clearfix">
  <div class="mnStyle imgLists positionR layout-container" style="margin-left:60px;margin-bottom: 40px" @click="model.type=0">
    <img src="./images/components/mnStyle.png" alt="">
    <i class="checkin positionA" v-if="model[key]==0"></i>
  </div>
  <div class="mnStyle imgLists positionR layout-container" style="margin-left:60px;margin-bottom: 40px" @click="model.type=1">
    <img src="./images/components/mnStyle-1.png" alt="">
    <i class="checkin positionA" v-if="model[key]==1"></i>
  </div>
  <div class="mnStyle imgLists positionR layout-container" style="margin-left:60px;margin-bottom: 40px" @click="model.type=2">
    <img src="./images/components/mnStyle-2.jpg" alt="">
    <i class="checkin positionA" v-if="model[key]==2"></i>
  </div>
  <div class="mnStyle imgLists positionR layout-container" style="margin-left:60px;margin-bottom: 40px" @click="model.type=3">
    <img src="./images/components/mnStyle-3.jpg" alt="">
    <i class="checkin positionA" v-if="model[key]==3"></i>
  </div>
  <div class="mnStyle imgLists positionR layout-container" style="margin-left:60px;margin-bottom: 40px" @click="model.type=4">
    <img src="./images/components/mnStyle-4.jpg" alt="">
    <i class="checkin positionA" v-if="model[key]==4"></i>
  </div>
  <div class="mnStyle imgLists positionR layout-container" style="margin-left:60px;margin-bottom: 40px" @click="model.type=5">
    <img src="./images/components/mnStyle-5.jpg" alt="">
    <i class="checkin positionA" v-if="model[key]==5"></i>
  </div>
</div>