<!-- 样式列表 -->
<div>
    <div class="layout clearfix">
        <span>{{config.text}}</span>
        <span style="height:auto;">
            <span class="imgLists positionR layout-img layout-container" @click="model[key]=i" :class="{'cur':i==model[key]}" :style="config.style"
                  v-for="(v,i) in config.options">
                <img :src="v.image||v.src" style="width:100%;height:100%;" :alt="v.text" :title="v.text" class="img-el">
                <i class="checkin positionA" v-if="i==model[key]"></i>
            </span>
        </span>
    </div>
</div>