<div style="width:200px; height:35px; transform:translateY(-110%); position: absolute; z-index: 99;"
     :style="pos">
    <div v-if="canEdit" class="clearfix modelSet newSetBtns">
        <div v-show="editing!=null">
            <button v-if="toolType == 'add-picture'"
                    class="textEdit-set  modulset mgl0 set-btn fl" type="button"
                    @click="upimg">编辑图片
            </button>
            <button v-else class="textEdit-set  modulset mgl0 set-btn fl" type="button"
                    @click="edit">编辑内容
            </button>
            <button v-if="model.__componentType==='tabs'" class="textEdit-set  modulset mgl0 set-btn fl" type="button"
                    @click="addTab">添加标签
            </button>
            <button v-show="showSetting" class="copy-set modulset set-btn fl" type="button"
                    @click="copy" @mouseover="showTips = 'a'" @mouseleave="showTips = '0'">
                <i class="toolbarTips" v-show="showTips=='a'">复  制</i>
            </button>
            <button v-show="showSetting" class="textstyle-set modulset set-btn fl"
                    show-dialog="textSet-dialog" @click="settin" type="button" @mouseover="showTips = 'b'" @mouseleave="showTips = '0'">
                <i class="toolbarTips" v-show="showTips=='b'">公共设置</i>
            </button>
            <button class="textcengji-set modulset set-btn mgl0 fl" show-dialog=""
                    @click="showToClass=!showToClass" type="button" @mouseover="showTips = 'c'" @mouseleave="showTips = '0'">
                <i class="toolbarTips" v-show="showTips=='c'">层级设置</i>
            </button>
            <button v-if="hasLink" class="set-link modulset set-btn fl" @click="link"
                    type="button" @mouseover="showTips = 'd'" @mouseleave="showTips = '0'">
                <i class="toolbarTips" v-show="showTips=='d'">链接设置</i>
            </button>
            <button class="module-del modulset set-btn fl" v-if="model.removeShow!=false"
                    show-dialog="del_dialog" @click="remove" type="button" @mouseover="showTips = 'e'" @mouseleave="showTips = '0'">
                <i class="toolbarTips" v-show="showTips=='e'">删  除</i>
            </button>
            <div v-show="showToClass" class="classBox" :class="c" style="z-index:200">
                <button class="class-btn toMax" type="button" @click="toClassMax"></button>
                <button class="class-btn toMin" type="button" @click="toClassMin"></button>
                <button class="class-btn toAdd" type="button" @click="toClassAdd"></button>
                <button class="class-btn toMinus" type="button" @click="toClassMinus"></button>
            </div>
        </div>
    </div>
</div>