<v-cptborder :model="model" :setting="settingConfig" :editing="editingConfig">
    <div class="mobile-pop" v-if="showPop" style="position: fixed" @click="hideCode"></div>
    <div class="custom-show">
        <div class="custom-show-top">
            <ul>
                <li :class="sty" v-show="item.isShow" v-for="item in model.customerList" :style="{height:'auto','line-height':app.mobileFit('35px')}">
                    <i :class="[item.class,qq]"></i>
                    <em>
                        <a v-if="!item.hasImg" :href="phone" style="color:black">QQ：{{item.num}}</span></a>
                        <a v-else href="javascript:void(0)" @click="showCode" style="color:black"></a>
                        <div v-if="showCodeImg" class="codeImg mobileCode" :style="{'background-image':'url('+model.image.src+')'}"></div>
                    </em>
                </li>
            </ul>
        </div>
        <div class="custom-show-conter" v-show="model.showTime.which=='0'" :style="{'padding-bottom':app.mobileFit('10px')}">
            <h3 :style="{height:app.mobileFit('40px'),'line-height':app.mobileFit('40px')}">
                <i class="custom-show-time"></i>
                <span>工作时间</span>
            </h3>
            <ul>
                <li v-for="(item,i) in model.timeList" :style="{height:app.mobileFit('25px'),'line-height':app.mobileFit('25px')}">{{model.week[item.checkedsWeek].text}}至{{model.week[item.checkedeWeek].text}}：{{model.time[item.checkedsTime].text}}-{{model.time[item.checkedeTime].text}}</li>
            </ul>
        </div>
        <div class="custom-show-bottom" v-show="model.showCell.which=='0'">
            <h3 :style="{height:app.mobileFit('40px'),'line-height':app.mobileFit('40px')}">
                <i class="custom-show-cell"></i>
                <span>联系方式</span>
            </h3>
            <ul>
                <li v-for="(item,i) in model.cellList" :style="{height:app.mobileFit('25px'),'line-height':app.mobileFit('25px')}">
                    <a style="color: #666;" :href="'tel:'+model.cellList[i].text" v-if="model.cellList[i].text.indexOf('@') == -1">{{item.name}}：{{item.text}}</a>
                    <a style="color: #666;" href="javascript:void(0)" v-else>{{item.name}}：{{item.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</v-cptborder>