<!-- 图文>显示更多 -->
<div class="martop10 marbottom10">
    <div><span>时间显示：</span>
        <el-radio type="radio" v-model="model.timeShow" name="timeShow" :label="true">显示</el-radio>
        <el-radio type="radio" v-model="model.timeShow" name="timeShow" :label="false">隐藏</el-radio>
    </div>
    <div class="martop10 marbottom10">
            <div><span>下滑线显示：</span>
            <el-radio type="radio" v-model="model.underline" name="underline" :label="true">显示</el-radio>
            <el-radio type="radio" v-model="model.underline" name="underline" :label="false">隐藏</el-radio>
        </div>
    </div>
</div>